.pac-container {
    z-index: 1200 !important;
}
.add-tds.add-more-custom {
    top: 0;
    right: 0;
    position: relative;
    margin: 0 auto;
}
.today-activity-data{
    overflow: hidden;
    height: 327px;
    overflow-y: scroll;
}

.today-activity-data::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background:#F6F6F6;
}

.today-activity-data::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #F6F6F6;
    border-radius: 0px;
}

.today-activity-data::-webkit-scrollbar-thumb {
    background:var(--primary-color);
    border-radius: 40px;
}

.today-activity-data::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

.salary-set-show-data {
    padding: 10px;
    border: 1px solid #dadada;
    background-color: #00000005;
}
.back-to-salary-generate-edit {
    text-align: right;
}

.btn-small-edit {
    font-size: 12px;
    padding: 5px 7px;
    border: 0;
    color: #ffffff;
    background-color: #03A9F4;
    line-height: 1;
}
.btn-small-edit:hover {
    font-size: 12px;
    padding: 5px 7px;
    border: 0;
    color: #ffffff;
    background-color: #03A9F4;
    line-height: 1;
}

.remove-section-btn {
    background: #f43b48;
    color: #fff;
    font-size: 10px;
    padding: 2px 10px;
    font-weight: 700;
    border-radius: 3px;
}
.remove-subsection-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    color: red;
}

.new-wsb-table-body-item .erp-step-input-block .form-control {
    padding-right: 20px;
}
.new-warehouse-section-body-add-btn .add-section-wh-btn {
    margin-top: 9px !important;
}

.supplier-add-button-box a.as-btn{
    background: linear-gradient(to right, #b70000 0%, #f43b48 100%);
}
.purchase-save-all-btn-box button{
    background: linear-gradient(to right, #37B34A 0%, #8BC53F 100%);
    padding: 11px 40px;
    color: #fff;
    font-weight: 800;
    border-radius: 100px;
    font-size: 16px;
    border: none;
}

.erp-box-header .total-material-product {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}
/*invoice design edit in invoice edit page*/
.designWrapMain{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.designWrapMain .multiple-design-item{
    position: relative;
}
.designWrapMain .multiple-design-item span{
    position: absolute;
    top: -7px;
    left: 40px;
    cursor: pointer;
}
.form-control::placeholder {
    color: #bbbbbb !important;
}

.pp-add-more-btn{
    font-size: 14px;
    padding: 5px 10px;
}
.pp-add-board-btn{
    background: linear-gradient(to right, #0054cf 0%, #6a68dd 100%);
}

#revisionBtn{
    background: linear-gradient(to right, #0054cf 0%, #6a68dd 100%);
}

.rejectBtn {
    background: linear-gradient(to right, #cf1100 0%, #fe6464 100%);
}

.currency-type{
    line-height: 1.5 !important;
}

.select2-container {
    width: 100% !important;
}

.board-pp-calc-price-wrapper{
    flex-basis: 100% !important;
}

.board-pp-calc-price-input-wrapper .rs-ecp-bottom-box-item{
    flex-basis: 24% !important;
}
.product-material-set-item{
    flex-basis: 13% !important;
}
.product-material-set-item:nth-child(1) {
    flex-basis: 22% !important;
}
.product-material-set-item:nth-child(2) {
    flex-basis: 16% !important;
}
.product-material-set-item:nth-child(3) {
    flex-basis: 10% !important;
}
.product-material-set-item:nth-child(7) {
    flex-basis: 5% !important;
}

.pp-add-paper-btn{
    background: linear-gradient(to right, #af5408 0%, #e98260 100%);
}
.pp-add-goods-btn {
    background: linear-gradient(to right, #ab0199 0%, #d434d8 100%);
}
.pp-add-finished-board-btn {
    background: linear-gradient(to right, #067e70 0%, #5bd2d4 100%);
}

.pp-add-set-item-btn {
    background: linear-gradient(to right, #9b9603 0%, #eed000 100%);
}
.sales-cartItems-type-chip{
    padding: 0 5px;
    background: #00e5ff52;
    border-radius: 5px;
    border: 1px solid #0cb8aa;
    color: #400951 !important;
    font-size: 12px !important;
    font-weight: 600 !important;
}
.sales-po-product-header-item{
    flex-basis: 18% !important;
}
.sales-po-product-header-item-remove{
    flex-basis: 5% !important;
}
.custom-text{
    max-width: 200px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.product-material-details-page {
    max-width: 700px;
    margin: 0 auto;
}
.pmdw-header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #ddd;
}
.pmdw-header .img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding: 3px;
    border: 1px solid #ddd;
    border-radius: 7px;
}
.pmdw-header .info .code {
    margin-bottom: 0;
}
.pmdw-header .info .type {
    margin-bottom: 0;
}
.pmdw-header .info .name {
    margin-bottom: 4px;
    font-size: 15px;
    font-weight: 700;
}
.pmdw-header .info .category {
    margin-bottom: 0;
}

.pmdw-header .info p {
    font-size: 13px;
}

.pmdw-header .info span{
    font-weight: 600;
}


.pmdw-body .pmdwl-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px dashed #ddd;
}
.pmdw-body .pmdwl-item:last-child {
    border-bottom: none;
}
.pmdw-body .pmdwl-item p {
    margin-bottom: 0;
    font-size: 13px;
}
.pmdw-body .pmdwl-item p span {
    font-weight: 600;
}
.pmdw-body .pmdwl-item .left {
    flex-basis: 48%;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 5px;
}
.pmdw-body .pmdwl-item .right {
    flex-basis: 48%;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 5px;
}
.pmdw-body .pmdwl-item .full {
    flex-basis: 100%;
}
.pmdw-body .pmdwl-item p span.color-box {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-bottom: -3px;
    margin-left: 4px;
}

.employee-list-table-wrapper tr td, .employee-list-table-wrapper, tr th {
    white-space: normal;
}